<div class="container height-75 table">
    <div class="row vcenter">
        <div class="col-sm-12 col-xs-12 col-lg-2 col-md-2"></div>
        <div class="col-sm-12 col-xs-12 col-lg-8 col-md-8">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3"></div>
            <div class="col-sm-6 col-xs-6 col-lg-6 col-md-6" style="height:200px">
                <img src="assets/conam.png" style="height:70px" class="hidden-xs">
                <p> {{cod}}</p>
                <p>{{message}}</p>
            </div>
            <div class="col-xs-3 hidden-lg hidden-sm hidden-md"></div>
            <div class="col-sm-2 col-xs-12 col-lg-2 col-md-2 text-center">
                <img src="assets/robot.png" style="height:200px" class="hidden-xs">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        </div>
        <div class="col-sm-12 col-xs-12 col-lg-2 col-md-2"></div>
    </div>
</div>