<div class="form-group row">
    <shared-template-intestazione [datiTemplate]="data" [datiCompilati]="datiCompilati"
        (formValid)="setFormIntestazioneValid($event)">
    </shared-template-intestazione>
    <form #formTemplate="ngForm">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
            <shared-template-soggetti [listaSoggetti]="data.listaSoggetti"
                *ngIf="data!=null && data.listaSoggetti!=null">
            </shared-template-soggetti>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                OGGETTO:
                <span class="form-control-view" *ngIf="isAnteprima || isStampa">{{datiCompilati.oggetto}}</span>
                <input type="text" id="ogg" class="form-control" name="ogg" *ngIf="!isAnteprima && !isStampa"
                    [(ngModel)]="datiCompilati.oggetto" required>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Ai sensi dell'art.
                <span class="form-control-view" *ngIf="isAnteprima || isStampa">{{datiCompilati.riferimentoNormativo}}</span>
                <input type="text" id="legge" *ngIf="!isAnteprima && !isStampa" class="form-control"
                    style="display: inline-block; width: 30%" name="legge"
                    [(ngModel)]="datiCompilati.riferimentoNormativo" placeholder="Riferimento Normativo" required>
                si trasmette in allegato copia conforme del provvedimento relativo all'oggetto.
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-top-15">
                Distinti saluti.
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padding-top-25">
                Il Dirigente del Settore
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                {{data.dirigente}}
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-top-25">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small-font">
                / {{data.funzionario}}
            </div>                        
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small-font padding-top-10">
                Corso Regina Margherita, 153 bis
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small-font">
                10122 Torino
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small-font">
                Tel: 011 4321288
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small-font">
                Fax: 011 4325386
            </div>
            <!--
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small-font">
                Email: {{data.mailSettoreTributi}}
            </div>
            -->
        </div>
    </form>
</div>