@import '../../../color.scss';


$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; 
        }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
    @media (max-width: 766px) {
        .navbar-default .navbar-nav .open .dropdown-menu {
          > li > a {
            color: $colDefault;
            &:hover, &:focus {
              color: $colHighlight; }}
          > .active {
            > a, > a:hover, > a:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}}
      }

.navbar{
  margin-bottom: 0px;
}



  .text-navbar{
    font-size: 14px;
  }

/* CONAM160 */
.navbar-header img,
.navbar-brand img {
    margin-right: 20px;
}


@media (min-width: 766px) and (max-width: 1300px) {
  .text-navbar{
    font-size: 10px;
  }
}

@media (min-width: 766px) and (max-width: 1055px) {
  .navbar-nav>li>a {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
}



