<div class="panel-body panel-body-background">
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 class="border-title"><strong>Destinatari ordinanza</strong></h4>
            <shared-spinner *ngIf="!loaded"></shared-spinner>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="loaded">
                <datatable [data]="soggetti" [config]="config" *ngIf="loaded"  
                (selected)="onSelected($event)" 
                (dettaglio)="onDettaglio($event)" 
                (onInfo)="onInfo($event)">
                </datatable>
            </div>
        </div>
    </div>
</div>