<div class="form-group row">
    <shared-template-intestazione [datiTemplate]="data" [datiCompilati]="datiCompilati"
        (formValid)="setFormIntestazioneValid($event)">
    </shared-template-intestazione>
    <form #formTemplate="ngForm">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right" *ngIf="data!=null && data.listaSoggetti!=null">
            <shared-template-soggetti [listaSoggetti]="data.listaSoggetti" [hideListaSoggetti]="true"
                *ngIf="data!=null && data.listaSoggetti!=null">
            </shared-template-soggetti>

            <ng-container *ngIf="!isAnteprima && !isStampa">
                <div class="input-soggetti-container padding-top-15" *ngFor="let sogg of datiCompilati.destinatariSoggetti;let i = index">
                    <input required type="text" [(ngModel)]="sogg.soggRiga1" [name]="'soggRiga1' + i"  class="form-control right-aligned-input" placeholder="denominazione">
                    <input required type="text" [(ngModel)]="sogg.soggRiga2" [name]="'soggRiga2' + i"  class="form-control right-aligned-input" placeholder="indirizzo">
                    <input required type="text" [(ngModel)]="sogg.soggRiga3" [name]="'soggRiga3' + i"  class="form-control right-aligned-input" placeholder="cap città provincia">
                    <input type="text" [(ngModel)]="sogg.soggRiga4" [name]="'soggRiga4' + i"  class="form-control right-aligned-input" placeholder="testo libero">
                </div>
                <div class="textarea-soggetti-container padding-top-15">
                    <textarea rows="4" [(ngModel)]="datiCompilati.destinatariAggiuntivi" [name]="'destinatariAggiuntivi'" class="form-control right-aligned-textarea" placeholder="Altri destinatari"></textarea>
                </div>
            </ng-container>
            <ng-container *ngIf="isAnteprima || isStampa">
                <div class="input-soggetti-container padding-top-15" *ngFor="let sogg of datiCompilati.destinatariSoggetti;let i = index">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{sogg.soggRiga1}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{sogg.soggRiga2}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{sogg.soggRiga3}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{sogg.soggRiga4}}
                    </div>
                </div>
                <div class="textarea-soggetti-container padding-top-15" *ngIf="datiCompilati.destinatariAggiuntivi!=null">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" [innerHTML]="datiCompilati.destinatariAggiuntivi | newline2"></div>
                </div>
            </ng-container>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-inline">
                    OGGETTO: {{datiCompilati.oggetto}}
                    <span class="form-control-view" *ngIf="isAnteprima || isStampa">{{datiCompilati.processiVerbali}}</span>
                    <input type="text" id="processiVerbali" *ngIf="!isAnteprima && !isStampa" class="form-control" style="display: inline-block; width:70%"
                        name="processiVerbali" [(ngModel)]="datiCompilati.processiVerbali" placeholder="Inserire processi verbali"
                        required>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:3%">
                    Si comunica al{{signoriaVostra}} che per il giorno:
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:3%">
                <div class="form-inline">
                    <span style="text-decoration-line: underline"><b>
                    Addì
                    <span class="form-control-view" *ngIf="isAnteprima || isStampa">{{datiCompilati.giorno}}</span>
                    <div class='input-group date datepicker-size' id='datetimepicker1' *ngIf="!isAnteprima && !isStampa">
                        <input type='text' id="giorno" [(ngModel)]="datiCompilati.giorno" name="giorno" #datePicker1="ngModel" (blur)="manageDatePicker($event, 1)"
                            class="form-control date-picker" required>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    del Mese
                    <span class="form-control-view" *ngIf="isAnteprima || isStampa">{{datiCompilati.mese}}</span>
                    <div class='input-group date datepicker-size' id='datetimepicker2' *ngIf="!isAnteprima && !isStampa">
                        <input type='text' id="mese" [(ngModel)]="datiCompilati.mese" name="mese" #datePicker2="ngModel" (blur)="manageDatePicker($event, 2)"
                            class="form-control date-picker" required>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    dell'Anno
                    <span class="form-control-view" *ngIf="isAnteprima || isStampa">{{datiCompilati.anno}}</span>
                    <div class='input-group date datepicker-size' id='datetimepicker3' *ngIf="!isAnteprima && !isStampa">
                        <input type='text' id="anno" [(ngModel)]="datiCompilati.anno" name="anno" #datePicker3="ngModel" (blur)="manageDatePicker($event, 3)"
                            class="form-control date-picker" required>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    alle ore
                    <span class="form-control-view" *ngIf="isAnteprima || isStampa">{{datiCompilati.oraInizio}}</span>
                    <div class='input-group date datepicker-size' id='datetimepicker4' *ngIf="!isAnteprima && !isStampa">
                        <input type='text' id="oraInizio" [(ngModel)]="datiCompilati.oraInizio" name="oraInizio" #datePicker4="ngModel" (blur)="manageDatePicker($event, 4)"
                            class="form-control date-picker" required>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    </b></span>
                      {{convocare}} presso <span style="text-decoration-line: underline"> {{sedeEnteArray[0]}}</span> {{sedeEnteArray[1]}}
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:3%">
                <div class="form-inline">
                    Si rammenta che l’<b>assenza all’audizione</b>, le <b>affermazioni</b> eventualmente solo <b>confermative</b> di
                    quanto già indicato negli scritti difensivi, saranno considerate ai fini della valutazione delle
                    <b>responsabilità</b> rispetto all’illecito contestato.
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:3%">
                Ove {{signoriaVostra}} non {{comparire}}, l'Amministrazione definirà la pratica sulla base della
                documentazione in atti.
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-top-15">
                Distinti saluti.
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padding-top-25">
                Il Dirigente del Settore  <br>
             {{dirigenteLettera}} <br>
                {{dirigente}}
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-top-25">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small-font" *ngFor="let info of infoEnteArray">
                {{info}}
            </div>
        </div>
    </form>
</div>