<div class="modal-dialog modal-confirm">
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon-box">
                <i class="glyphicon glyphicon-ok"></i>
            </div>
        </div>
        <div class="modal-body text-center">
            <h4>Success!</h4>
            <p>Verbale eliminato con successo.</p>
            <button type="button" class="btn-conam button-blue" (click)="goToHome()">
                <i class="glyphicon glyphicon-share-alt btn-glyphicon img-circle text-blue-conam"></i>
                Homepage</button>
        </div>
    </div>
</div>