<div class="panel-body panel-body-background" *ngIf="loaded">
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 class="border-title"><strong>Dati anagrafici</strong></h4>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group col-xs-12 col-sm-12  col-md-4 col-lg-4">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="cognome" class="control-label">Cognome</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.cognome}}
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="nome" class="control-label">Nome</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.nome}}
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="dataNascita" class="control-label">Data di nascita</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.dataNascita}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-body-background" *ngIf="!soggetto.nazioneNascitaEstera">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group col-xs-12 col-sm-12  col-md-4 col-lg-4">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="regioneNascita" class="control-label">Regione di nascita</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.regioneNascita.denominazione}}
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="provinciaNascita" class="control-label">Provincia di nascita</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.provinciaNascita.denominazione}}
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="comuneNascita" class="control-label">Comune di nascita</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.comuneNascita.denominazione}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-body-background" *ngIf="soggetto.nazioneNascitaEstera">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group col-xs-12 col-sm-12  col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="nazioneNascita" class="control-label">Nazione di nascita</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.nazioneNascita.denominazione}}
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12  col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="comuneNascita" class="control-label">Comune di nascita</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.denomComuneNascitaEstero}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-body-background">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group col-xs-12 col-sm-12  col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="tipoOrdinanza" class="control-label">Codice fiscale</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.codiceFiscale}}
                        </div>
                    </div>  
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label for="sesso" class="control-label">Sesso</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            {{soggetto.sesso}}
                        </div>
                    </div>             
                </div>
            </div>
        </div>
    </div>
</div>