<form #formRicerca="ngForm" (ngSubmit)="emitRicerca()">
    <div class="form-group col-xs-12 col-sm-12  " [ngClass]="enableRicercaPiano?'col-md-4 col-lg-4 text-left':'col-md-6 col-lg-6 text-center'">
        <input type="checkbox" name="ordinanza" id="ordinanza" class="checkbox-input" [checked]="tabOrdinanza" (click)="tabActions.changeOrdinanza()"
        />
        <label for="ordinanza" class="checkbox-label" id="checkbox-label" [ngStyle]="{height: enableCampiCreaPiano? '400px' : '450px'}">
            <div class="checkbox-text">
                <p class="checkbox-text--title">Dati Ordinanza</p>
                <p class="checkbox-text--description"><span class="un">Clicca per abilitare</span></p>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label for="numeroDeterminazione" class="control-label">Numero determinazione Ordinanza</label>
                    <input type="text" id="numeroDeterminazione" class="form-control" 
                    [disabled]="!tabOrdinanza || isDisable('ND')" 
                    [(ngModel)]="ricercaPianoRequest.numeroDeterminazione" name="numeroDeterminazione" required>
                </div>
                <!--<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="enableCampiCreaPiano">
                    <label for="statoOrd" class="control-label">Stato Ordinanza</label>
                    <shared-spinner-form [diameter]="30" *ngIf="!loadedStatoOrdinanza;  else elseStatoOrdinanza">
                    </shared-spinner-form>
                    <ng-template #elseStatoOrdinanza>
                        <select [compareWith]="compareFn" class="form-control" id="statoOrd"
                            [disabled]="!tabOrdinanza || isDisable('SO')" [(ngModel)]="ricercaPianoRequest.statoOrdinanza" name="statoOrd">
                            <option *ngFor="let stat of statoOrdinanzaModel" [ngValue]="stat">{{stat.denominazione}}
                            </option>
                        </select>
                    </ng-template>
                </div>-->
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="control-label">Intervallo data di Notifica ricercato</label>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left" style="padding-left:15px">Da</label>
                    <div class='input-group date ' id='datetimepicker1'>
                        <input type='text' id="dataNotificaDa"
                            [(ngModel)]="dateStart" name="dataNotificaDa"
                            #datePicker (blur)="setDate(datePicker.value, 'start')"
                            class="form-control date-picker" [disabled]="!tabOrdinanza || isDisable('DA')" required/>
                        <span class="input-group-addon" (click)="interceptor($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left" style="padding-left:15px">A</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' id="dataNotificaA"
                            [(ngModel)]="dateEnd" name="dataNotificaA"
                            #datePicker1 (blur)="setDate(datePicker1.value, 'end')"
                            class="form-control date-picker" [disabled]="!tabOrdinanza || isDisable('DA')" required />
                        <span class="input-group-addon" (click)="interceptor($event)" >
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </label>
    </div>
    <div class="form-group col-xs-12 col-sm-12  text-left" [ngClass]="enableRicercaPiano?'col-md-4 col-lg-4 text-left':'col-md-6 col-lg-6 text-center'">
        <input type="checkbox" name="sentenza" id="sentenza" class="checkbox-input" [checked]="tabSentenza" (click)="tabActions.changeSentenza()"
        />
        <label for="sentenza" class="checkbox-label" id="checkbox-label" [ngStyle]="{height: enableCampiCreaPiano? '400px' : '450px'}">
            <div class="checkbox-text">
                <p class="checkbox-text--title">Dati Disposizione del Giudice</p>
                <p class="checkbox-text--description"><span class="un">Clicca per abilitare</span></p>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label for="numeroProtocolloSentenza" class="control-label">Numero protocollo Disposizione</label>
                    <input type="text" id="numeroProtocolloSentenza" class="form-control" [disabled]="!tabSentenza || isDisable('PD')" [(ngModel)]="ricercaPianoRequest.numeroProtocolloSentenza"
                        name="numeroProtocolloSentenza" required>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="control-label">Esito Disposizione</label>
                    <shared-spinner-form [diameter]="30" *ngIf="!loadedSentenza;  else elseSentenza">
                    </shared-spinner-form>
                    <ng-template #elseSentenza>
                        <select class="form-control" id="statoSent"
                            [(ngModel)]="ricercaPianoRequest.statoSentenza" name="statoSent"
                            [compareWith]="byId" [disabled]="!tabSentenza || isDisable('ED')">
                            <option *ngFor="let sent of sentenzaModel" [ngValue]="sent">{{sent.denominazione}}
                            </option>
                        </select>
                    </ng-template>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="control-label">Intervallo data Disposizione ricercato</label>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left" style="padding-left:15px">Da</label>
                    <div class='input-group date ' id='datetimepicker3'>
                        <input type='text' id="dataSentenzaDa"
                            [(ngModel)]="dateStartS" name="dataSentenzaDa"
                            #datePicker3 (blur)="setDateS(datePicker3.value, 'start')"
                            class="form-control date-picker" [disabled]="!tabSentenza || isDisable('DAS')" required/>
                        <span class="input-group-addon" (click)="interceptor($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left" style="padding-left:15px">A</label>
                    <div class='input-group date' id='datetimepicker4'>
                        <input type='text' id="dataSentenzaA"
                            [(ngModel)]="dateEndS" name="dataSentenzaA"
                            #datePicker4 (blur)="setDateS(datePicker4.value, 'end')"
                            class="form-control date-picker" [disabled]="!tabSentenza || isDisable('DAS')" required />
                        <span class="input-group-addon" (click)="interceptor($event)" >
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </label>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 text-left" *ngIf="enableRicercaPiano">
        <input type="checkbox" name="rateizzazione" id="rateizzazione" class="checkbox-input" [checked]="tabRateizzazione" (click)="tabActions.changeRateizzazione()"
        />
        <label for="rateizzazione" class="checkbox-label" id="checkbox-label" [ngStyle]="{height: enableCampiCreaPiano? '400px' : '450px'}">
            <div class="checkbox-text">
                <p class="checkbox-text--title">Piano Rateizzazione</p>
                <p class="checkbox-text--description"><span class="un">Clicca per abilitare</span></p>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label for="numeroProtocolloPiano" class="control-label">Numero protocollo Piano</label>
                    <input type="text" id="numeroProtocolloPiano" class="form-control" [disabled]="!tabRateizzazione || isDisable('SPD')" [(ngModel)]="ricercaPianoRequest.numeroProtocolloPiano"
                        name="numeroProtocolloPiano" required>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label for="statoRateizzazione" class="control-label">Stato Piano</label>
                    <shared-spinner-form [diameter]="30" *ngIf="!loadedStatoRateizzazione;  else elseStatoRateizzazione"></shared-spinner-form>
                    <ng-template #elseStatoRateizzazione>
                        <select class="form-control" id="statoRateizzazione" [disabled]="!tabRateizzazione || isDisable('SNP')" [(ngModel)]="statoPianoSelezionato" name="statoRateizzazione"
                            [compareWith]="compareFn">
                            <option *ngFor="let stat of statoRateizzazioneModel" [ngValue]="stat">{{stat.denominazione}}
                            </option>
                        </select>
                    </ng-template>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >
                    <label class="control-label">Intervallo data Creazione ricercato</label>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left" style="padding-left:15px">Da</label>
                    <div class='input-group date ' id='datetimepicker5'>
                        <input type='text' id="dataCreazioneDa"
                            [(ngModel)]="dateStartSNP" name="dataCreazioneDa"
                            #datePicker5 (blur)="setDateSNP(datePicker5.value, 'start')"
                            class="form-control date-picker" [disabled]="!tabRateizzazione || isDisable('DASNP')" required/>
                        <span class="input-group-addon" (click)="interceptor($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left" style="padding-left:15px">A</label>
                    <div class='input-group date' id='datetimepicker6'>
                        <input type='text' id="dataCreazioneA"
                            [(ngModel)]="dateEndSNP" name="dataCreazioneA"
                            #datePicker6 (blur)="setDateSNP(datePicker6.value, 'end')"
                            class="form-control date-picker" [disabled]="!tabRateizzazione || isDisable('DASNP')" required />
                        <span class="input-group-addon" (click)="interceptor($event)" >
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </label>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
            <button type="button" class="btn-conam button-garnet" (click)="pulisciFiltri()">
                <i class="glyphicon glyphicon-erase btn-glyphicon img-circle text-garnet-conam"></i>
                Pulisci filtri</button>
            <button type="submit" class="btn-conam button-yellow" [disabled]="!(formRicerca.form.valid)">
                <i class="glyphicon glyphicon-search btn-glyphicon img-circle text-yellow-conam"></i>
                Ricerca</button>
        </div>
    </div>

</form>