<?xml version="1.0" encoding="UTF-8"?>
<!--
   * SPDX-License-Identifier: EUPL-1.2
   * Copyright Regione Piemonte - 2020
-->
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context-2.5.xsd
	   http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util 
	   http://www.springframework.org/schema/util/spring-util.xsd
	   http://www.springframework.org/schema/task
	   http://www.springframework.org/schema/task/spring-task.xsd"
>

	<bean class="it.csi.conam.conambl.business.SpringApplicationContextHelper"></bean>
 
 	
 	<import resource="cache-context.xml" />
	
	
    <!-- Registra i file di property -->
	<context:property-placeholder location="classpath:application.properties" />
    
 	
	
	<import resource="spring-data-context.xml"/>
	<context:component-scan base-package="it.csi.conam.conambl.integration.mapper" />
	
	
	
	<import resource="security-context.xml" />
	<import resource="mail.xml" />
	<context:component-scan base-package="it.csi.conam.conambl.dispatcher.impl" />
	

	
	
	<context:component-scan base-package="it.csi.conam.conambl.integration.epay.rest" />
	

	<context:component-scan base-package="it.csi.conam.conambl.business.facade" />
	
	<context:component-scan base-package="it.csi.conam.conambl.business.service.impl" />
	
	<context:component-scan base-package="it.csi.conam.conambl.scheduled.impl" />
	
	<context:component-scan base-package="it.csi.conam.conambl.filter" />
	
	<context:component-scan base-package="it.csi.conam.conambl.common.config"/>
	
	<!-- 20200610_LC -->
	<context:component-scan base-package="it.csi.conam.conambl.integration.doqui"/>
	
	<context:component-scan base-package="it.csi.conam.conambl.integration.auriga.service"/>
	
	<!-- AOP support -->
	<bean id='loggingAspect' class='it.csi.conam.conambl.aspect.LoggingAspect' />
	
	<aop:aspectj-autoproxy />
	
		
	
 	<!-- abilita i task schedulati -->
	<task:annotation-driven/>
    <!--  <bean id="scheduledServiceImpl" class="it.csi.conam.conambl.scheduled.impl.ScheduledServiceImpl"></bean> -->
	
	
</beans>
