<form #formRicerca="ngForm" (ngSubmit)="ricercaFascicolo()">
  <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 text-left">
    <input
      type="checkbox"
      name="verbale"
      id="verbale"
      class="checkbox-input"
      [checked]="tabVerbale"
      (click)="tabActions.changeVerbale()"
    />
    <label for="verbale" class="checkbox-label">
      <div class="checkbox-text">
        <p class="checkbox-text--title">Dati Verbale</p>
        <p class="checkbox-text--description">
          <span class="un">Clicca per abilitare</span>
        </p>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="numeroProtocollo" class="control-label"
            >Numero protocollo</label
          >
          <input
            type="text"
            id="numeroProtocollo"
            class="form-control"
            name="numeroProtocollo"
            [(ngModel)]="ricercaVerbale.datiVerbale.numeroProtocollo"
            [disabled]="!tabVerbale"
          />
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="numeroVerbale" class="control-label"
            >Numero verbale</label
          >
          <input
            type="text"
            id="numeroVerbale"
            class="form-control"
            name="numeroVerbale"
            [(ngModel)]="ricercaVerbale.datiVerbale.numeroVerbale"
            [disabled]="!tabVerbale"
          />
        </div>


        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="annoAccertamento" class="control-label"
            >Anno accertamento</label
          >
          <input
            type="number"
            id="annoAccertamento"
            pattern="[0-9]{4}"
            maxlength="4"
            class="form-control"
            name="annoAccertamento"
            [(ngModel)]="ricercaVerbale.datiVerbale.annoAccertamento"
            [disabled]="!tabVerbale"
            #annoAccertamento="ngModel"
          />
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="ente" class="control-label"
            >Ente – riferimenti normativi</label
          >
          <shared-spinner-form
            [diameter]="30"
            *ngIf="!loadedEnte; else elseEnte"
          ></shared-spinner-form>
          <ng-template #elseEnte>
            <select
              class="form-control"
              id="ente"
              (change)="changeEnte()"
              [(ngModel)]="ricercaVerbale.datiVerbale.ente"
              [disabled]="!tabVerbale"
              name="ente"
            >
              <option *ngFor="let ent of entiLegge" [ngValue]="ent">
                {{ ent.denominazione }}
              </option>
            </select>
          </ng-template>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="ambito" class="control-label"> Ambito</label>
          <shared-spinner-form
            [diameter]="30"
            *ngIf="!loadedAmbito; else elseAmbito"
          ></shared-spinner-form>
          <ng-template #elseAmbito>
            <select
              [compareWith]="compareFn"
              class="form-control"
              id="ambito"
              (change)="changeAmbito()"
              [disabled]="
                !tabVerbale || ricercaVerbale.datiVerbale.ente == null
              "
              [(ngModel)]="ricercaVerbale.datiVerbale.ambito"
              name="ambito"
              required
            >
              <option *ngFor="let ambito of ambitoModel" [ngValue]="ambito">
                {{ ambito.acronimo }}
              </option>
            </select>
          </ng-template>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="leggeViolata" class="control-label">Legge violata</label>
          <shared-spinner-form
            [diameter]="30"
            *ngIf="!loadedNorma; else elseNoma"
          ></shared-spinner-form>
          <ng-template #elseNoma>
            <select
              [compareWith]="compareFn"
              class="form-control"
              id="leggeViolata"
              [disabled]="
                !tabVerbale ||
                ricercaVerbale.datiVerbale.ente == null ||
                ricercaVerbale.datiVerbale.ambito == null
              "
              [(ngModel)]="ricercaVerbale.datiVerbale.norma"
              name="leggeViolata"

            >
              <option *ngFor="let norm of normaModel" [ngValue]="norm">
                {{ norm.denominazione }}
              </option>
            </select>
          </ng-template>
        </div>
        <div
          class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
          *ngIf="config.showFieldStatoVerbale"
        >
          <label for="statoVerbale" class="control-label"
            >Stato fascicolo</label
          >
          <shared-spinner-form
            [diameter]="30"
            *ngIf="!loadedStatoVerbale; else elseStatoVerbale"
          >
          </shared-spinner-form>
          <ng-template #elseStatoVerbale>
            <select
              [compareWith]="compareFn"
              class="form-control"
              id="statoVerbale"
              [disabled]="!tabVerbale"
              [(ngModel)]="statoSelected"
              name="statoVerbale"
            >
              <option *ngFor="let stat of statoVerbaleModel" [ngValue]="stat">
                {{ stat.denominazione }}
              </option>
            </select>
          </ng-template>
        </div>

                <!------------>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <label for="enteAccertatore" class="control-label">Ente accertatore</label>
                  <shared-spinner-form
                    [diameter]="30"
                    *ngIf="!loadedEnteAccertatore; else elseEnteAccertatore"
                  ></shared-spinner-form>
                  <ng-template #elseEnteAccertatore>
                    <select
                      class="form-control"
                      id="enteAccertatore"
                      (change)="changeEnteAccertatore()"
                      [(ngModel)]="ricercaVerbale.datiVerbale.enteAccertatore"
                      [disabled]="!tabVerbale"
                      name="enteAccertatore"
                    >
                      <option *ngFor="let enteAccertatore of entiAccertatori" [ngValue]="enteAccertatore">
                        {{ enteAccertatore.denominazione }}
                      </option>
                    </select>
                  </ng-template>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <label for="comuneEnteAccertatore" class="control-label">Comune ente accertatore</label>
                  <shared-spinner-form
                    [diameter]="30"
                    *ngIf="!loadedComuneEnteAccertatore; else elseComuneEnteAccertatore"
                  ></shared-spinner-form>
                  <ng-template #elseComuneEnteAccertatore>
                    <select
                      class="form-control"
                      id="comuneEnteAccertatore"
                      [(ngModel)]="ricercaVerbale.datiVerbale.comuneEnteAccertatore"
                      [disabled]="!tabVerbale"
                      name="comuneEnteAccertatore"
                      [compareWith]="byId"
                      #comuneEnteAccertatore="ngModel"
                    >
                      <option *ngFor="let coment of comuneEnteAccertatoreModel" [ngValue]="coment">
                        {{ coment.denominazione }}
                      </option>
                    </select>
                  </ng-template>
                </div>

        <!-----istruttore-->

        <div
        class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"

      >
        <label for="funzionarioIstr" class="control-label"
          >Funzionario Istruttore assegnatario</label
        >
        <shared-spinner-form
          [diameter]="30"
          *ngIf="!loadedistruttore; else elseFunzionarioIstr"
        ></shared-spinner-form>
        <ng-template #elseFunzionarioIstr>
          <select
          class="form-control"
          id="funzionarioIstr"

          [(ngModel)]="ricercaVerbale.datiVerbale.assegnatario"
          name="funzionarioIstr"
           [disabled]="!tabVerbale"
          #funzionarioIstr="ngModel"
        >
            <option
              *ngFor="let funz of funzionarioIstrModel"
              [ngValue]="funz"
            >
              {{ funz.denominazione }}
            </option>
          </select>
        </ng-template>
      </div>

        <!----- dataAccertamento ------>

        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-left:15px">
          <div class="row">
            <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left"
              style="font-size: 11.5px !important; margin-left:-15px "
            >
              <label class="control-label"> Da Data accertamento </label>
            </div>
            <div
              class="input-group date col-xs-10 col-sm-10 col-md-10 col-lg-10"
              id="datetimepicker1"
            >
              <input
                type="text"
                id="dataAccertamentoDa"
                [(ngModel)]="ricercaVerbale.datiVerbale.dataAccertamentoDa"
                name="dataAccertamentoDa"
                #datePicker1="ngModel"
                (blur)="manageDatePicker($event, 1)"
                class="form-control date-picker"
                [disabled]="!tabVerbale"
              />
              <span class="input-group-addon" (click)="interceptor($event)">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-right: -15px">
          <div class="row">
            <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left"
              style="font-size: 11.5px; margin-left: -15px"
            >
              <label class="control-label">A Data Accertamento</label>
            </div>
            <div
              class="input-group date col-xs-10 col-sm-10 col-md-10 col-lg-10"
              id="datetimepicker2"
            >
              <input
                type="text"
                id="dataAccertamentoA"
                [(ngModel)]="ricercaVerbale.datiVerbale.dataAccertamentoA"
                name="dataAccertamentoA"
                #datePicker2="ngModel"
                (blur)="manageDatePicker($event, 2)"
                class="form-control date-picker"
                [disabled]="!tabVerbale"
              />
              <span class="input-group-addon" (click)="interceptor($event)">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <!------------>
         <!----- dataProcessoVerbale ------>

         <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-left:15px">
          <div class="row">
            <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left"
              style="font-size: 11.5px !important; margin-left:-15px "
            >
              <label class="control-label"> Da Data processo verbale </label>
            </div>
            <div
              class="input-group date col-xs-10 col-sm-10 col-md-10 col-lg-10"
              id="datetimepicker3"
            >
              <input
                type="text"
                id="dataProcessoVerbaleDa"
                [(ngModel)]="ricercaVerbale.datiVerbale.dataProcessoVerbaleDa"
                name="dataProcessoVerbaleDa"
                #datePicker3="ngModel"
                (blur)="manageDatePicker($event, 3)"
                class="form-control date-picker"
                [disabled]="!tabVerbale"
              />
              <span class="input-group-addon" (click)="interceptor($event)">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-right: -15px">
          <div class="row">
            <div
              class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left"
              style="font-size: 11.5px; margin-left: -15px"
            >
              <label class="control-label">A Data processo verbale</label>
            </div>
            <div
              class="input-group date col-xs-10 col-sm-10 col-md-10 col-lg-10"
              id="datetimepicker4"
            >
              <input
                type="text"
                id="dataProcessoVerbaleA"
                [(ngModel)]="ricercaVerbale.datiVerbale.dataProcessoVerbaleA"
                name="dataProcessoVerbaleA"
                #datePicker4="ngModel"
                (blur)="manageDatePicker($event, 4)"
                class="form-control date-picker"
                [disabled]="!tabVerbale"
              />
              <span class="input-group-addon" (click)="interceptor($event)">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>



      </div>
    </label>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 text-left">
    <input
      type="checkbox"
      name="soggettoTrasgressore"
      id="soggettoTrasgressore"
      class="checkbox-input"
      [checked]="tabTrasgressore"
      (click)="tabActions.changeTrasgressore()"
    />
    <label for="soggettoTrasgressore" class="checkbox-label">
      <div class="checkbox-text">
        <p class="checkbox-text--title">Soggetto Trasgressore</p>
        <p class="checkbox-text--description">
          <span class="un">Clicca per abilitare</span>
        </p>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="radio">
            <input
              id="personaFisica"
              name="radio"
              type="radio"
              [disabled]="!this.tabTrasgressore"
              (change)="tabActions.checkTrasgressorePersonaFisica()"
              [checked]="isTrasgressorePersonaFisica"
              [required]="!isTrasgressorePersonaGiuridica"
            />
            <label for="personaFisica" class="radio-label"
              >Persona Fisica</label
            >
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="codiceFiscale" class="control-label"
              >Codice fiscale</label
            >
            <input
              type="text"
              id="codiceFiscale"
              [(ngModel)]="soggettoVerbaleTrasgressore.codiceFiscale"
              class="form-control"
              name="codiceFiscale"
              [disabled]="isDisable('CFT', 'T')"
              required
              pattern="^([a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]|[0-9]{11})$"
            />
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="cognome" class="control-label">Cognome</label>
            <input
              type="text"
              id="cognome"
              class="form-control"
              name="cognome"
              [(ngModel)]="soggettoVerbaleTrasgressore.cognome"
              [disabled]="isDisable('CG', 'T')"
              required
            />
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="nome" class="control-label">Nome</label>
            <input
              type="text"
              id="nome"
              class="form-control"
              name="nome"
              [(ngModel)]="soggettoVerbaleTrasgressore.nome"
              [disabled]="isDisable('NM', 'T')"
            />
            <!--required-->
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="radio">
            <input
              id="personaGiuridica"
              name="radio"
              type="radio"
              [disabled]="!tabTrasgressore"
              (change)="tabActions.checkTrasgressorePersonaGiuridica()"
              [checked]="isTrasgressorePersonaGiuridica"
              [required]="!isTrasgressorePersonaFisica"
            />
            <label for="personaGiuridica" class="radio-label"
              >Persona giuridica</label
            >
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="denominazione" class="control-label"
              >Denominazione</label
            >
            <input
              type="text"
              id="denominazione"
              class="form-control"
              name="denominazione"
              [(ngModel)]="soggettoVerbaleTrasgressore.ragioneSociale"
              [disabled]="isDisable('DN', 'T')"
              required
            />
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="pIva" class="control-label">P.Iva</label>
            <input
              type="text"
              id="pIva"
              class="form-control"
              name="pIva"
              pattern="[0-9]{11}"
              maxlength="11"
              [(ngModel)]="soggettoVerbaleTrasgressore.partitaIva"
              [disabled]="isDisable('PI', 'T')"
              required
            />
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="cf" class="control-label">Codice Fiscale </label>
            <input
              type="text"
              id="cf"
              class="form-control"
              name="cf"
              [(ngModel)]="
                soggettoVerbaleTrasgressore.codiceFiscalePersGiuridica
              "
              [disabled]="isDisable('CFPG', 'T')"
              required
            />
          </div>
        </div>
      </div>
    </label>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 text-left">
    <input
      type="checkbox"
      name="soggettoObbligatoSolido"
      id="soggettoObbligatoSolido"
      [checked]="tabObbligatoInSolido"
      class="checkbox-input"
      (click)="tabActions.changeObbligatoInSolido()"
    />
    <label for="soggettoObbligatoSolido" class="checkbox-label">
      <div class="checkbox-text">
        <p class="checkbox-text--title">Soggetto Obbligato in solido</p>
        <p class="checkbox-text--description">
          <span class="un">Clicca per abilitare</span>
        </p>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="radio">
            <input
              id="personaFisicaOS"
              name="radioOS"
              type="radio"
              [disabled]="!tabObbligatoInSolido"
              (change)="tabActions.checkObbligatoInSolidoPersonaFisica()"
              [checked]="isObbligatoInSolidoPersonaFisica"
            />
            <label for="personaFisicaOS" class="radio-label"
              >Persona fisica</label
            >
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="codiceFiscaleOs" class="control-label"
              >Codice fiscale</label
            >
            <input
              type="text"
              id="codiceFiscaleOs"
              class="form-control"
              name="codiceFiscaleOs"
              pattern="^([a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]|[0-9]{11})$"
              [(ngModel)]="soggettoVerbaleObbligato.codiceFiscale"
              [disabled]="isDisable('CFT', 'O')"
              required
            />
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="cognomeOs" class="control-label">Cognome</label>
            <input
              type="text"
              id="cognomeOS"
              class="form-control"
              name="cognomeOS"
              [(ngModel)]="soggettoVerbaleObbligato.cognome"
              [disabled]="isDisable('CG', 'O')"
              required
            />
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="nomeOS" class="control-label">Nome</label>
            <input
              type="text"
              id="nomeOS"
              class="form-control"
              name="nomeOS"
              [(ngModel)]="soggettoVerbaleObbligato.nome"
              [disabled]="isDisable('NM', 'O')"
            />
            <!--required-->
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="radio">
            <input
              id="personaGiuridicaOS"
              name="radioOS"
              type="radio"
              [disabled]="!tabObbligatoInSolido"
              (change)="tabActions.checkObbligatoInsolidoPersonaGiuridica()"
              [checked]="isObbligatoInSolidoPersonaGiuridica"
            />
            <label for="personaGiuridicaOS" class="radio-label"
              >Persona giuridica</label
            >
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="denominazioneOS" class="control-label"
              >Denominazione</label
            >
            <input
              type="text"
              id="denominazioneOS"
              [(ngModel)]="soggettoVerbaleObbligato.ragioneSociale"
              class="form-control"
              name="denominazioneOS"
              [disabled]="isDisable('DN', 'O')"
              required
            />
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="pIvaOS" class="control-label">P.Iva </label>
            <input
              type="text"
              id="pIvaOS"
              class="form-control"
              name="pIvaOS"
              pattern="[0-9]{11}"
              maxlength="11"
              [(ngModel)]="soggettoVerbaleObbligato.partitaIva"
              [disabled]="isDisable('PI', 'O')"
              required
            />
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="cfOS" class="control-label">Codice Fiscale </label>
            <input
              type="text"
              id="cfOS"
              class="form-control"
              name="cfOS"
              [(ngModel)]="soggettoVerbaleObbligato.codiceFiscalePersGiuridica"
              [disabled]="isDisable('CFPG', 'O')"
              required
            />
          </div>
        </div>
      </div>
    </label>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
      <button
        type="button"
        class="btn-conam button-garnet"
        (click)="pulisciFiltri()"
      >
        <i
          class="glyphicon glyphicon-erase btn-glyphicon img-circle text-garnet-conam"
        ></i>
        Pulisci filtri
      </button>
      <button
        type="submit"
        class="btn-conam button-yellow"
        [disabled]="disableForm(formRicerca.form.valid)"
      >
        <i
          class="glyphicon glyphicon-search btn-glyphicon img-circle text-yellow-conam"
        ></i>
        Ricerca Fascicolo
      </button>
    </div>
  </div>
</form>
